{{- if eq .Kind "page" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "image": {{ .Params.image | default .Site.Data.default.HeaderBackgroundImage | absURL }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "inLanguage": "{{ .Params.Lang | default .Site.LanguageCode }}",
  "isFamilyFriendly": "true",
  "author": {
    "@type": "Person",
    "name": {{ .Site.Author.name }},
    "url": "{{ .Site.BaseURL }}about"
  },
  "copyrightHolder": {{ .Site.Author.name }},
  "copyrightYear": {{ .Date.Format "2006" }},
  "copyrightNotice": {{ .Site.Copyright }},
  "mainEntityOfPage": { "@type": "WebPage" },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Author.name }},
    "url": "{{ .Site.BaseURL }}about/"
  },
  "description": {{ .Summary | plainify | truncate 120 | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
</script>
{{- end }}