<!doctype html>
<html amp lang="{{- block `language` . }}{{- end }}">

<head>
    <meta charset="utf-8" />
    <title>{{- block "title" . }}{{- end }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="viewport" content="width=device-width" />
    <meta name="amp-google-client-id-api" content="googleanalytics" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <!-- amp-boilerplate separate one line -->
    {{ partial "head/amp-boilerplate.html" . | safeHTML }}
    
    <!-- amp scripts -->
    {{ partial "head/common-scripts.html" . }}
    {{ block "amp-scripts" . }}{{ end }}

    <!-- custom-style -->
    <style amp-custom="">{{- block "custom-style" . | safeCSS }}{{- end }}</style>
</head>

<body>
    {{ if .Site.Params.GoogleAdSense }}
    <amp-auto-ads type="adsense" data-ad-client="{{ .Site.Params.GoogleAdSense }}"></amp-auto-ads>
    {{ end }}

    {{- partial "header.html" . -}}

    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>

    {{- partial "footer.html" . -}}

    {{if .Site.GoogleAnalytics }}{{- partial "google-analytics.html" . -}}{{ end }}
</body>

</html>