{{- define "language" }}
{{- if .Params.Lang }}{{ .Params.Lang }}{{ else }}{{ .Language.Lang }}{{- end }}
{{- end }}

{{ define "title" }}
  {{ if .Title }}
    {{ .Title }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
{{ end }}

{{ define "amp-scripts" }}
<script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
{{ end }}

{{ define "custom-style" }}
{{ (resources.Get "css/main.css" | minify ).Content | safeCSS }}
{{ (resources.Get "css/post.css" | minify ).Content | safeCSS }}
{{ end }}


{{ define "main" }}

<main id="content" role="main" class="">
  <article class="text-content">
    {{ replaceRE "\\[ (.*) \\]" "&bsol;[ $1 &bsol;]" .Content | safeHTML }}
  </article>
</main>

{{ end }}