<!-- Start Navbar -->
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
  <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0"
    class="ampstart-navbar-trigger  pr2  ">☰
  </div>
  <nav>
    <span id="home"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></span>
  </nav>
</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0"
      class="ampstart-navbar-trigger items-start">✕</div>
  </div>

  <ul class="ampstart-sidebar-faq list-reset m0">
    <li class="ampstart-faq-item"><a href="{{ .Site.BaseURL }}about/" class="text-decoration-none">About</a></li>
    <li class="ampstart-faq-item"><a href="mailto:{{- .Site.Params.Author.email -}}" class="text-decoration-none">Contact</a></li>
  </ul>

  {{ partial "sidebar.html" . }}
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->