{{- partial "common-head.html" . -}}

<title>Live Blog</title>

<!-- Import `amp-live-list` for implementing a live blog. -->
<script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>

<style amp-boilerplate>
  body {
    -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
    animation: -amp-start 8s steps(1, end) 0s 1 normal both
  }

  @-webkit-keyframes -amp-start {
    from {
      visibility: hidden
    }

    to {
      visibility: visible
    }
  }

  @-moz-keyframes -amp-start {
    from {
      visibility: hidden
    }

    to {
      visibility: visible
    }
  }

  @-ms-keyframes -amp-start {
    from {
      visibility: hidden
    }

    to {
      visibility: visible
    }
  }

  @-o-keyframes -amp-start {
    from {
      visibility: hidden
    }

    to {
      visibility: visible
    }
  }

  @keyframes -amp-start {
    from {
      visibility: hidden
    }

    to {
      visibility: visible
    }
  }
</style>
<!-- Live blog updates can be represented in Google Search results as carousel items of the blog page. [Learn more](https://developers.google.com/search/pilot/open/live-blogs#properties). -->
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LiveBlogPosting",
          "url": "<% hosts.platform %>/documentation/examples/news-publishing/live_blog/",
          "articleBody": "This is the initial text in the blog post",
          "datePublished": "2016-09-08T23:04:28.24337",
          "about": {
            "@type": "Event",
            "description": "This is my great live blog sample",
            "startDate": "2016-07-23T13:00:00-07:00",
            "endDate": "2016-07-23T15:00:00-07:00",
            "name": "An AMP Live Blog",
            "url": "<% hosts.platform %>/documentation/examples/news-publishing/live_blog/",
            "location": {
              "@type": "EventVenue",
              "name": "The Venue Name",
              "address" : {
                "@type": "PostalAddress",
                "streetAddress": "701 Mission St",
                "addressLocality": "San Francisco",
                "addressRegion": "CA",
                "postalCode": "94103",
                "addressCountry": "US"
              }
            }
          },
          "publisher": {
            "@type": "Organization",
            "name": "Google",
            "logo": {
              "@type": "ImageObject",
              "url": "/static/samples/img/favicon.png",
              "width": "512",
              "height": "512"
            }
          },
          "author": {
            "@type": "Person",
            "sameAs": "https://github.com/kul3r4",
            "name": "Chiara Chiappini"
          },
          "image": {
            "@type": "ImageObject",
            "url": "/static/samples/img/abe_preview.png",
            "height": "1532",
            "width": "2046"
          },
          "coverageStartTime": "2016-07-23T11:30:00-07:00",
          "coverageEndTime": "2016-07-23T16:00:00-07:00",
          "headline": "An AMP Live Blog",
          "description": "A Live Blog implementation with AMP",
          "liveBlogUpdate": "[% for blogItem in blogMetaData %][= blogItem | dump(2) =][% endfor %]"
        }
      </script>

<style amp-custom>
  main {
    max-width: 720px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 1px;
  }

  .card {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-height: 150px;
    min-height: 120px;
    padding-left: 0.7rem;
    margin-top: 16px;
  }

  .card article .description {
    padding-top: 0.5rem;
    font-size: smaller;
    max-width: 99%;
    padding-bottom: 0.5rem;
  }

  .card {
    display: flex;
  }

  .card article {
    padding-top: 0.5rem;
    display: block;
  }

  .card .thumbnail {
    flex: 1;
    padding-right: 1rem;
    padding-top: 1rem;
    justify-content: flex-end;
  }

  .card .thumbnail amp-img {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
</style>