{{ define "head" }}
{{- partial "homepage-head.html" . -}}
{{ end }}

{{ define "main" }}
<main id="content" role="main">

  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
  <!-- Leave blank page messages -->
  {{ if (eq $paginator.TotalPages 0) }}
  <h1>Seems it's a blank page...</h1>
  {{ end }}

  <div items>
    {{ range $paginator.Pages }}
    <div class="card">
      <article>
        <h4 class="title"><a href="{{ .Permalink }}">{{ .Title | truncate 25 }}</a></h4>
        <span>{{ .Date.Format "January 2, 2006" }}</span>
        <div class="description">
          <p mb4 px3>
            <em>{{ .Summary | plainify | truncate 150 }}</em>
            &nbsp;<span><a href="{{ .Permalink }}">Read More>></a></span>
          </p>
        </div>
      </article>
      <div class="thumbnail">
        <a href="{{ .Permalink }}">
          <amp-img src="https://amp.dev/static/inline-examples/images/sea.jpg" width="80" height="80" layout="fixed">
          </amp-img>
        </a>
      </div>
    </div>
    {{ end }}

  </div>

</main>
{{ end }}